@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
body {
    text-align: center;
    /* 背景圖片設定 */
    background-image: url(imgs/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#game {
    margin: 15px;
    font-size: 75px;
    border-spacing: 6px;

    td {
        background-color: rgb(210, 210, 210);
        border: 2px solid rgb(178, 178, 178);
        width: 140px;
        height: 140px;
        /* 防止反白 */
        user-select: none;
    }
}

#main {
    margin: auto;
}

#left {
    font-size: 40px;
}

#right {
    font-size: 40px;
}


#result_block {
    display: none;
    /* 預設隱藏 */
    position: fixed;
    display: flex;
    width: 320px;
    height: 180px;
    background-color: rgba(135, 206, 250, 0.9);
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 內容直排 */
    flex-direction: column;
}

#result_block button {
    margin-top: 12px;
}

/* GPT */

#leaderboard_block {
    width: 200px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

#leaderboard_block h3 {
    text-align: center;
}

#leaderboard_list {
    padding-left: 20px;
}

h1 {
    font-family: "Coiny", system-ui;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
